.navbar {
  background-color: rgba(9, 114, 175, 0.95);
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.86);
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

#download-btn {
  margin-left: 20px;
  background-color: #ffffff;
  color: #1679b3;
  border-color:  #ffffff;
}

a {
  color: #1679b3;
}

a:hover {
  color: #1679b3;
}
h5 {
  font-weight: bold;
}

body {
  padding-top: 100px;
  line-height: 1.8;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

.page-header {
  margin-top: -30px;
}

.navbar-brand img {
  padding-top: 5px;
  margin-top: -15px;
  max-height: 45px;
}

#footer {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

dropdown-submenu {
position:relative;
}
.dropdown-submenu>.dropdown-menu {
top:0;
left:100%;
     margin-top:-6px;
     margin-left:-1px;
     -webkit-border-radius:0 6px 6px 6px;
     -moz-border-radius:0 6px 6px 6px;
     border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
display:block;
}
.dropdown-submenu>a:after {
display:block;
content:" ";
float:right;
width:0;
height:0;
       border-color:transparent;
       border-style:solid;
       border-width:5px 0 5px 5px;
       border-left-color:#cccccc;
       margin-top:5px;
       margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
left:-100%;
     margin-left:10px;
     -webkit-border-radius:6px 0 6px 6px;
     -moz-border-radius:6px 0 6px 6px;
     border-radius:6px 0 6px 6px;
}
