<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% if site.logo %}
    <a class="navbar-brand" href="{{ site.baseurl }}"><img
    src="{{ site.baseurl }}{{ site.logo }}" /></a>
    {% endif %}
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!--<a href="{{ "/download" | prepend: site.baseurl }}" role="button" class="btn btn-success"><span class="glyphicon glyphicon-download"></span> Download</a>-->
    <ul class="nav navbar-nav navbar-right">
    {% for page in site.data.menu %}
      {% if page.subpages %}
        <li class="dropdown">
          <a href="{{ page.url | prepend:site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown">{{ page.title }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for subpage in page.subpages %}
            {% if subpage.subpages %}
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">{{ subpage.title }}</a>
                <ul class="dropdown-menu">
                {% for subsubpage in subpage.subpages %}
                  <li><a href="{{ subsubpage.url | prepend: page.url | prepend: site.baseurl}}">{{ subsubpage.title }}</a></li>
                {% endfor %}
                </ul>
              </li>
            {% elsif subpage.url %}
              <li><a href="{{ subpage.url | prepend: page.url | prepend: site.baseurl}}">{{ subpage.title }}</a></li>
            {% else %}
              <li class="dropdown-header">{{ subpage.title }}</li>
            {% endif %}
          {% endfor %}
          </ul>
        </li>
      {% else %}
      <li>
        <a class="page-link" href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
      {% if site.download_link %}
      <li>
        <p  class="navbar-btn">
        <a href="{{ site.download_link }}" role="button" id="download-btn" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Download</a>
        </p>
      </li>
      {% endif %}

      <li>
        <p  class="navbar-btn">
        <a target="_blank" href="{{ site.github_link }}" role="button" id="download-btn" class="btn btn-primary"><i class="fa fa-github" style="font-size:20px;padding-right:5px;"></i> View on Github</a>
        </p>
      </li>

    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>
