<!--
<h3>News and updates</h3>
<p>New releases and related tools will be announced through the <a
href="https://lists.gforge.inria.fr/mailman/listinfo/cractools-website">CracTools
mailing list</a>.<p>


<h3>Getting started</h3>
<p>You want to try the CracTools? <a href="{{ site.download_link }}">Download it</a> and
check our <a href="{{ "/getting-started/" | prepend: site.baseurl }}">getting started guide</a>.</p>
-->

<h3>Contact us</h3>
<p>Any question regarding the software? Open an issue to our <a
href="https://github.com/Transipedia/dekupl/issues">Github project</a>.<br/>
</p>

<h3>Publications</h3>
<p><small>Jérôme Audoux, Nicolas Philippe, Rayan Chikhi, Mikaël Salson, Marc Gabriel, Thérèse Commes, Daniel Gautheret. <a
href="http://biorxiv.org/content/early/2017/03/31/122937">Exhaustive capture of biological variation in RNA-seq data through k-mer decomposition</a> doi: https://doi.org/10.1101/122937
</small></p>
